.map-panel {
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
  flex-wrap: wrap;
}

.connect {
  padding-top: 120px;
  width: 33%;
}

.connect-text {
  color: #ab4c38;
  font-size: 34px;
  font-style: oblique;
  font-weight: bold;
}
.membership-panel {
  background-color: #fefbf6;
  padding-top: 50px;
  padding-bottom: 50px;
}

.membership {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
}
.memberships {
  margin: auto;
  width: 50%;
}
.membership-values {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  flex-wrap: wrap;
}
.membership-header {
  color: #ab4c38;
  font-size: 29px;
  font-style: oblique;
  font-weight: bold;
  text-align: center;
}

.value-header {
  color: #ab4c38;
  font-size: 22px;
  font-style: oblique;
  font-weight: bold;
}
.testimonial-panel {
  padding-top: 60px;
  padding-bottom: 50px;
}
.testimonials {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.member {
  display: flex;
  justify-content: start;
  margin-left: 20px;
}

.member-details {
  padding-left: 10px;
  padding-top: 10px;
  word-spacing: 0px;
}

.test-card {
  background-color: #fefbf6;
  width: 30%;
}

.testi-test {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 40px;
  margin-bottom: 10px;
  text-justify: auto;
  font-size: 16px;
}
