.register-panel{
    padding-top:80px;
    padding-bottom:80px;
    background-color: #fefbf6;
}

.form-header-text {
    color: #ab4c38;
    font-size: 24px;
    font-style: oblique;
    font-weight: bold;
}
.card-header.form-header {
    background-color: #fff;
}
.form-control {
    display: block;
    width: 100%;
    font-size: 14px;
    line-height: 1.42857143;
    color: #71748d;
    background-color: #fff;
    background-image: none;
    border: 1px solid #d2d2e4;
    border-radius: 2px;
}
.btn {
    font-size: 14px;
    padding: 9px 16px;
    border-radius: 2px;
}
.text-default{
    color: #ab4c38;
}

.register-panel .card{
    max-width: 350px;
    margin: auto;
}